body {
    background-color: #808080;
    
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "ROND" 0;
}

button {
    height: 20px;
    width: 20px;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "ROND" 0;

    /* vertical-align: center; */

    border: 0px;

    background: url("./assets/tile.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
button:active {
    background: url("./assets/tile_pressed.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.button-wide {
    height: 32px;
    width: 96px;
    background: url("./assets/tile_wide.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.button-wide:active {
    background: url("./assets/tile_wide_pressed.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

h3 {
    display: inline-block;
}

#main {
    text-align: center;
}

#main .div {
    width: min-content;
}

#grid {
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* top: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 0;
    /* width: fit-content; */
}

.cell {
    width: 32px;
    height: 32px;
    border: 0px;
    display: inline-block;

    padding: 0;
    margin: 0;

    background: url("./assets/tile.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.cell.flagged {
    background: url("./assets/flag.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#timer {
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    font-size: 0;
}

#timer img {
    width: 26px;
    height: 46px;
    border: 0px;

    padding: 0;
    margin: 0;
    display: inline-block;

    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
